pdfbuild/
ChickenR.pdf
*.md5
*-converted-to.pdf
*.bbl
*.aux 
*.out 
*.blg 
*.ps 
*.dvi 
*.ent 
*.log 
*.bak 
*.sav 
*.bcf 
*.run.xml
*.synctex.gz 
*.fls 
*.fdb_latexmk 
*.lot 
*.lof 
*.toc 
*.zip
*trimbib_log*.txt
